In [517]:
#importing pandas library
import pandas as pd

In [518]:
#reading the excel sheet
df = pd.read_excel('student.xlsx')
df.head()

,Unnamed: 0,roll_no,student_name,pref_CC,pref_IFS,pref_VLSI,pref_DE1,pref_DE2,pref_DE3,pref_OE1
0,NaN,1904005.0,ADITY DUTTA,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy
1,NaN,1904010.0,ANNWESHA SARKAR,softcopy,hardcopy,softcopy,hardcopy,softcopy,hardcopy,hardcopy
2,NaN,1904014.0,ARIJIT CHATTERJEE,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy
3,NaN,1904015.0,ARITRA GANGULY,hardcopy,softcopy,softcopy,softcopy,hardcopy,hardcopy,hardcopy
4,NaN,1904019.0,AYUSH KUMAR,softcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy

In [519]:
#computing the shape
df.shape

(361, 10)

In [520]:
#dropping first column of dataframe (NaN)
df = df.iloc[: , 1:]
df.head()

,roll_no,student_name,pref_CC,pref_IFS,pref_VLSI,pref_DE1,pref_DE2,pref_DE3,pref_OE1
0,1904005.0,ADITY DUTTA,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy
1,1904010.0,ANNWESHA SARKAR,softcopy,hardcopy,softcopy,hardcopy,softcopy,hardcopy,hardcopy
2,1904014.0,ARIJIT CHATTERJEE,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy
3,1904015.0,ARITRA GANGULY,hardcopy,softcopy,softcopy,softcopy,hardcopy,hardcopy,hardcopy
4,1904019.0,AYUSH KUMAR,softcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy

In [521]:
#shape updates
df.shape

(361, 9)

In [522]:
#dropping empty 'rows'
df = df.dropna(axis = 0)
df

,roll_no,student_name,pref_CC,pref_IFS,pref_VLSI,pref_DE1,pref_DE2,pref_DE3,pref_OE1
0,1904005.0,ADITY DUTTA,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy
1,1904010.0,ANNWESHA SARKAR,softcopy,hardcopy,softcopy,hardcopy,softcopy,hardcopy,hardcopy
2,1904014.0,ARIJIT CHATTERJEE,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy
3,1904015.0,ARITRA GANGULY,hardcopy,softcopy,softcopy,softcopy,hardcopy,hardcopy,hardcopy
4,1904019.0,AYUSH KUMAR,softcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy
...,...,...,...,...,...,...,...,...,...
356,1904235.0,SUSHMITA DIXIT,softcopy,softcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy
357,1904237.0,TANYA KUMARI,softcopy,hardcopy,hardcopy,hardcopy,softcopy,hardcopy,hardcopy
358,1904238.0,VIBHAV SINGH,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy,softcopy
359,1904239.0,VISHAL KUMAR,hardcopy,hardcopy,softcopy,hardcopy,softcopy,softcopy,softcopy
360,1904240.0,VISWANATH AKASH,softcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy,softcopy

In [523]:
#shape updates
df.shape

(356, 9)

In [524]:
#visializing information in dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356 entries, 0 to 360
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   roll_no       356 non-null    float64
 1   student_name  356 non-null    object
 2   pref_CC       356 non-null    object
 3   pref_IFS      356 non-null    object
 4   pref_VLSI     356 non-null    object
 5   pref_DE1      356 non-null    object
 6   pref_DE2      356 non-null    object
 7   pref_DE3      356 non-null    object
 8   pref_OE1      356 non-null    object
dtypes: float64(1), object(8)
memory usage: 27.8+ KB

In [525]:
#deleting multiple entries (and considering just first entry) of same student w.r.t his/her roll number
df = df.drop_duplicates(subset='roll_no', keep="first")
df

,roll_no,student_name,pref_CC,pref_IFS,pref_VLSI,pref_DE1,pref_DE2,pref_DE3,pref_OE1
0,1904005.0,ADITY DUTTA,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy
1,1904010.0,ANNWESHA SARKAR,softcopy,hardcopy,softcopy,hardcopy,softcopy,hardcopy,hardcopy
2,1904014.0,ARIJIT CHATTERJEE,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy
3,1904015.0,ARITRA GANGULY,hardcopy,softcopy,softcopy,softcopy,hardcopy,hardcopy,hardcopy
4,1904019.0,AYUSH KUMAR,softcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy
...,...,...,...,...,...,...,...,...,...
349,1904228.0,SNIGDHA MAITY,softcopy,hardcopy,hardcopy,hardcopy,softcopy,softcopy,softcopy
350,1904229.0,SOHAN KUMAR SAHU,softcopy,hardcopy,hardcopy,softcopy,softcopy,softcopy,softcopy
353,1904232.0,SUBHANKAR SAMANTA,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy,softcopy,hardcopy
354,1904233.0,SUBHRALINA CHATTOPADHYAY,softcopy,softcopy,hardcopy,hardcopy,hardcopy,hardcopy,hardcopy
355,1904234.0,SURABHI KUMARI,hardcopy,softcopy,softcopy,hardcopy,hardcopy,softcopy,hardcopy

In [526]:
#shape updates
df.shape

(232, 9)

In [527]:
#importing library to ignore warnings
import warnings
warnings.filterwarnings('ignore')

#converting preferences in binary (1 for Hardcopy, 0 for Softcopy)
df['pref_CC'] = df['pref_CC'].map(
                   {'hardcopy':1 ,'softcopy':0})

df['pref_IFS'] = df['pref_IFS'].map(
                   {'hardcopy':1 ,'softcopy':0})

df['pref_VLSI'] = df['pref_VLSI'].map(
                   {'hardcopy':1 ,'softcopy':0})

df['pref_DE1'] = df['pref_DE1'].map(
                   {'hardcopy':1 ,'softcopy':0})

df['pref_DE2'] = df['pref_DE2'].map(
                   {'hardcopy':1 ,'softcopy':0})

df['pref_DE3'] = df['pref_DE3'].map(
                   {'hardcopy':1 ,'softcopy':0})

df['pref_OE1'] = df['pref_OE1'].map(
                   {'hardcopy':1 ,'softcopy':0})

df

,roll_no,student_name,pref_CC,pref_IFS,pref_VLSI,pref_DE1,pref_DE2,pref_DE3,pref_OE1
0,1904005.0,ADITY DUTTA,1,1,1,1,1,1,1
1,1904010.0,ANNWESHA SARKAR,0,1,0,1,0,1,1
2,1904014.0,ARIJIT CHATTERJEE,1,1,1,1,1,0,0
3,1904015.0,ARITRA GANGULY,1,0,0,0,1,1,1
4,1904019.0,AYUSH KUMAR,0,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...
349,1904228.0,SNIGDHA MAITY,0,1,1,1,0,0,0
350,1904229.0,SOHAN KUMAR SAHU,0,1,1,0,0,0,0
353,1904232.0,SUBHANKAR SAMANTA,1,1,1,1,1,0,1
354,1904233.0,SUBHRALINA CHATTOPADHYAY,0,0,1,1,1,1,1
355,1904234.0,SURABHI KUMARI,1,0,0,1,1,0,1

In [528]:
#visializing information in dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232 entries, 0 to 355
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   roll_no       232 non-null    float64
 1   student_name  232 non-null    object
 2   pref_CC       232 non-null    int64
 3   pref_IFS      232 non-null    int64
 4   pref_VLSI     232 non-null    int64
 5   pref_DE1      232 non-null    int64
 6   pref_DE2      232 non-null    int64
 7   pref_DE3      232 non-null    int64
 8   pref_OE1      232 non-null    int64
dtypes: float64(1), int64(7), object(1)
memory usage: 18.1+ KB

In [529]:
#sorting the dataframe w.r.t student roll numbers
df = df.sort_values(by ='roll_no')
df.head()

,roll_no,student_name,pref_CC,pref_IFS,pref_VLSI,pref_DE1,pref_DE2,pref_DE3,pref_OE1
81,1904001.0,AASHUTOSH NARAYAN JHA,0,1,0,1,0,1,1
125,1904002.0,ABHISEK RANJAN PATEL,0,1,1,0,1,0,0
82,1904004.0,ADARSH SINGH,0,0,1,1,0,0,0
0,1904005.0,ADITY DUTTA,1,1,1,1,1,1,1
126,1904007.0,AKASH SINGH,0,1,1,0,1,0,0

In [530]:
df.tail()

,roll_no,student_name,pref_CC,pref_IFS,pref_VLSI,pref_DE1,pref_DE2,pref_DE3,pref_OE1
123,1904471.0,AMISHA BINIT,1,1,1,0,0,1,1
305,1904472.0,SAHAJ PAREEK,1,1,0,0,1,1,1
124,2004801.0,ABHISHEK SINGHA ROY,1,1,1,1,1,1,1
79,2004802.0,AMLANI CHAKRABORTY,1,1,0,1,0,1,1
80,2004804.0,DEBASISH PARHI,0,1,0,1,1,1,1

In [531]:
#shape updates
df.shape

(232, 9)

In [532]:
#converting roll numbers to int from float
df["roll_no"] = df["roll_no"].astype(float).astype(int)
df

,roll_no,student_name,pref_CC,pref_IFS,pref_VLSI,pref_DE1,pref_DE2,pref_DE3,pref_OE1
81,1904001,AASHUTOSH NARAYAN JHA,0,1,0,1,0,1,1
125,1904002,ABHISEK RANJAN PATEL,0,1,1,0,1,0,0
82,1904004,ADARSH SINGH,0,0,1,1,0,0,0
0,1904005,ADITY DUTTA,1,1,1,1,1,1,1
126,1904007,AKASH SINGH,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
123,1904471,AMISHA BINIT,1,1,1,0,0,1,1
305,1904472,SAHAJ PAREEK,1,1,0,0,1,1,1
124,2004801,ABHISHEK SINGHA ROY,1,1,1,1,1,1,1
79,2004802,AMLANI CHAKRABORTY,1,1,0,1,0,1,1
80,2004804,DEBASISH PARHI,0,1,0,1,1,1,1

In [533]:
#material (hardcopy) prices in Rupees

#Wireless communications - Theodore S Rapport
hc_price_CC = 829.00

#Probability and Statistics for Engineering and the Sciences - Jay L Devore
hc_price_IFS = 725.00

#CMOS VLSI design - Neil H. E. Weste and David Money Harris
hc_price_VLSI = 929.00

#Principles of Soft Computing - S. N. Sivanandan and S. N. Deepa
hc_price_DE1 = 710.00

#Information Theory, Coding and Cryptography - Ranjan Bose
hc_price_DE2 = 495.00

#Digital Image Processing - S Jayaraman, S Esakkirajan, T Veerakumar
hc_price_DE3 = 738.00

#Quantum Computing Explained - David McMohan
hc_price_OE1 = 6500.00

In [534]:
#material (softcopy) prices in Rupees

#Wireless communications - Theodore S Rapport
sc_price_CC = 0.00 #source: www.researchgate.net

#Probability and Statistics for Engineering and the Sciences - Jay L Devore
sc_price_IFS = 0.00 #source: z-lib.org

#CMOS VLSI design - Neil H. E. Weste and David Money Harris
sc_price_VLSI = 404.00 #source: Amazon-Kindle Edition

#Principles of Soft Computing - S. N. Sivanandan and S. N. Deepa
sc_price_DE1 = 568.00 #Source: Amazon-Kindle Edition

#Information Theory, Coding and Cryptography - Ranjan Bose
sc_price_DE2 = 495.00 #eBook note available

#Digital Image Processing - S Jayaraman, S Esakkirajan, T Veerakumar
sc_price_DE3 = 738.00 #eBook note available

#Quantum Computing Explained - David McMohan
sc_price_OE1 = 0.00 #source: www.academia.edu

In [535]:
#counting the preferences for each subject
no_sc_CC = (df['pref_CC'] == 0).sum()
no_hc_CC = (df['pref_CC'] == 1).sum()

no_sc_IFS = (df['pref_IFS'] == 0).sum()
no_hc_IFS = (df['pref_IFS'] == 1).sum()

no_sc_VLSI = (df['pref_VLSI'] == 0).sum()
no_hc_VLSI = (df['pref_VLSI'] == 1).sum()

no_sc_DE1 = (df['pref_DE1'] == 0).sum()
no_hc_DE1 = (df['pref_DE1'] == 1).sum()

no_sc_DE2 = (df['pref_DE2'] == 0).sum()
no_hc_DE2 = (df['pref_DE2'] == 1).sum()

no_sc_DE3 = (df['pref_DE3'] == 0).sum()
no_hc_DE3 = (df['pref_DE3'] == 1).sum()

no_sc_OE1 = (df['pref_OE1'] == 0).sum()
no_hc_OE1 = (df['pref_OE1'] == 1).sum()

In [536]:
#calculation of savings

saving_CC = (no_hc_CC * hc_price_CC) - (no_sc_CC * sc_price_CC)

saving_IFS = (no_hc_IFS * hc_price_IFS) - (no_sc_IFS * sc_price_IFS)

saving_VLSI = (no_hc_VLSI * hc_price_VLSI) - (no_sc_VLSI * sc_price_VLSI)

saving_DE1 = (no_hc_DE1 * hc_price_DE1) - (no_sc_DE1 * sc_price_DE1)

saving_DE2 = (no_hc_DE2 * hc_price_DE2) - (no_sc_DE2 * sc_price_DE2)

saving_DE3 = (no_hc_DE3 * hc_price_DE3) - (no_sc_DE3 * sc_price_DE3)

saving_OE1 = (no_hc_OE1 * hc_price_OE1) - (no_sc_OE1 * sc_price_OE1)

In [537]:
print("Savings in Cellular Communication: Rs.", round(saving_CC))
print("\nSavings in Inferential Statistics: Rs.", round(saving_IFS))
print("\nSavings in VLSI: Rs.", round(saving_VLSI))
print("\nSavings in Department Elective 1: Rs.", round(saving_DE1))
print("\nSavings in Department Elective 2: Rs.", round(saving_DE2))
print("\nSavings in Department Elective 3: Rs.", round(saving_DE3))
print("\nSavings in Open Elective 1: Rs.", round(saving_OE1))

Savings in Cellular Communication: Rs. 133469

Savings in Inferential Statistics: Rs. 126875

Savings in VLSI: Rs. 138214

Savings in Department Elective 1: Rs. 67592

Savings in Department Elective 2: Rs. 36630

Savings in Department Elective 3: Rs. 35424

Savings in Open Elective 1: Rs. 988000

In [538]:
#percentage savings per subject
print("Percentage savings (Cellular Communication):", (saving_CC/(no_hc_CC * hc_price_CC))*100,"%")
print("\nPercentage savings (Inferential Statistics):", (saving_IFS/(no_hc_IFS * hc_price_IFS))*100,"%")
print("\nPercentage savings (VLSI):", (saving_VLSI/(no_hc_VLSI * hc_price_VLSI))*100,"%")
print("\nPercentage savings (Department Elective 1):", (saving_DE1/(no_hc_DE1 * hc_price_DE1))*100,"%")
print("\nPercentage savings (Department Elective 2):", (saving_DE2/(no_hc_DE2 * hc_price_DE2))*100,"%")
print("\nPercentage savings (Department Elective 3):", (saving_DE3/(no_hc_DE3 * hc_price_DE3))*100,"%")
print("\nPercentage savings (Open Elective 1):", (saving_OE1/(no_hc_OE1 * hc_price_OE1))*100,"%")

Percentage savings (Cellular Communication): 100.0 %

Percentage savings (Inferential Statistics): 100.0 %

Percentage savings (VLSI): 85.50412630068173 %

Percentage savings (Department Elective 1): 61.02564102564103 %

Percentage savings (Department Elective 2): 48.36601307189542 %

Percentage savings (Department Elective 3): 34.285714285714285 %

Percentage savings (Open Elective 1): 100.0 %

In [539]:
#computing total percentage savings
ultimate_savings_per = (((saving_CC/(no_hc_CC * hc_price_CC))*100)+
                    ((saving_IFS/(no_hc_IFS * hc_price_IFS))*100)+
                    ((saving_VLSI/(no_hc_VLSI * hc_price_VLSI))*100)+
                    ((saving_DE1/(no_hc_DE1 * hc_price_DE1))*100)+
                    ((saving_DE2/(no_hc_DE2 * hc_price_DE2))*100)+
                    ((saving_DE3/(no_hc_DE3 * hc_price_DE3))*100)+
                    ((saving_OE1/(no_hc_OE1 * hc_price_OE1))*100))/7

print("Total savings =",ultimate_savings_per,"% =", round(ultimate_savings_per),"%")

Total savings = 75.59735638341893 % = 76 %

In [540]:
#total savings per semester
total_savings = (saving_CC
                +saving_IFS
                +saving_VLSI
                +saving_DE1
                +saving_DE2
                +saving_DE3
                +saving_OE1)

print("Total estimated savings: Rs.", round(total_savings))

Total estimated savings: Rs. 1526204

In [541]:
#computing the paper savings (in grams)
#Source: Amazon.in

#Wireless communications - Theodore S Rapport
w_CC = 750

#Probability and Statistics for Engineering and the Sciences - Jay L Devore
w_IFS = 1540

#CMOS VLSI design - Neil H. E. Weste and David Money Harris
w_VLSI = 1290

#Principles of Soft Computing - S. N. Sivanandan and S. N. Deepa
w_DE1 = 1560

#Information Theory, Coding and Cryptography - Ranjan Bose
w_DE2 = 287

#Digital Image Processing - S Jayaraman, S Esakkirajan, T Veerakumar
w_DE3 = 1200

#Quantum Computing Explained - David McMohan
w_OE1 = 624

In [542]:
#computing the total weight of papers (in Online mode)

w_CC_total = w_CC*no_hc_CC

w_IFS_total = w_IFS*no_hc_IFS

w_VLSI_total = w_VLSI*no_hc_VLSI

w_DE1_total = w_DE1*no_hc_DE1

w_DE2_total = w_DE2*no_hc_DE2

w_DE3_total = w_DE3*no_hc_DE3

w_OE1_total = w_OE1*no_hc_OE1

w_total = w_CC_total+w_IFS_total+w_VLSI_total+w_DE1_total+w_DE2_total+w_DE3_total+w_OE1_total

print("Total weight =",w_total,"gms =",w_total/1000,"Kg =",(w_total/1000)/1000,"Tonnes")

Total weight = 1164829 gms = 1164.829 Kg = 1.164829 Tonnes

In [543]:
#courier delivery charges (in Rupees) per kg in India (Source: www.DTDC.in)
courier_charges = 95

total_charge = courier_charges*(w_total/1000)

print("total courier charges (Online est.) =",total_charge,"=",round(total_charge),"Rupees")

total courier charges (Online est.) = 110658.75499999999 = 110659 Rupees

In [544]:
#computing the total weight of papers (in conventional Offline mode)

w_CC_total1 = w_CC*no_hc_CC+w_CC*no_sc_CC

w_IFS_total1 = w_IFS*no_hc_IFS+w_IFS*no_sc_IFS

w_VLSI_total1 = w_VLSI*no_hc_VLSI+w_VLSI*no_hc_VLSI

w_DE1_total1 = w_DE1*no_hc_DE1+w_DE1*no_hc_DE1

w_DE2_total1 = w_DE2*no_hc_DE2+w_DE2*no_hc_DE2

w_DE3_total1 = w_DE3*no_hc_DE3+w_DE3*no_hc_DE3

w_OE1_total1 = w_OE1*no_hc_OE1+w_OE1*no_hc_OE1

w_total1 = w_CC_total1+w_IFS_total1+w_VLSI_total1+w_DE1_total1+w_DE2_total1+w_DE3_total1+w_OE1_total1

print("Total weight =",w_total1,"gms =",w_total1/1000,"Kg =",(w_total1/1000)/1000,"Tonnes")

Total weight = 2080438 gms = 2080.438 Kg = 2.080438 Tonnes

In [545]:
#courier delivery charges (in Rupees) per kg in India (Source: www.DTDC.in)

total_charge1 = courier_charges*(w_total1/1000)

print("total courier charges (Offline est.) =",total_charge1,"=",round(total_charge1),"Rupees")

total courier charges (Offline est.) = 197641.61000000002 = 197642 Rupees

In [547]:
#total savings in courier delivery charges
print("Rs.",total_charge1-total_charge,"/-")

Rs. 86982.85500000003 /-

In [549]:
#total paper savings
print("Papers saved:",((w_total1-w_total)/1000)/1000,"Tonnes")

Papers saved: 0.915609 Tonnes